 .container {
  max-width: 1150px;
    background-color:  white;
  min-height: 50vh;
  border-radius: 25px;
  margin: auto;
  
  margin: 45px;
  width: 950px;
  height: 400px;
  
  border: 3px transparent;
  padding: 90px;
}
.container1{
  border-radius: 25px;
  width: auto;
  height: 430px;
float:right ; 
background-color: #DCDCDC;
}
h1{
  text-align: center;
}
p {
  text-align: center;
}
input{
  padding: 5px;
  border: 3px transparent;
  border-radius: 5px;
  margin: 10px;
}
label {
color: black;
padding: 8px;}
div{
justify-content: center;
margin: auto;
  
}
button {
  border-radius: 10px;
  background-color: #1E90FF;
  border: 5px;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 8px;
  width: 375px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

body{
  height: auto;
  background: linear-gradient(
    to right,
    #1E90FF 0%,
    #1E90FF 50%,
    #DCDCDC 50%,
    #DCDCDC 100%
    
  );
#container{
  
}

